[Unit]
Description="add host to check_mk"
After=syslog.target network.target

[Service]
ExecStart=/bin/bash -c /usr/local/bin/add-host-check_mk.sh 
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
