[Unit]
Description="delete host from check_mk"
Requires=network.target
Before=shutdown.target

[Service]
ExecStart=/usr/bin/bash -c /usr/local/bin/delete-host-check_mk.sh 
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
