# Example configuration file. If you do not supply
# a configuration file then autodetection is being tried.

servers = [
    {
       "protocol" : "http",
       "address"  : "localhost",
       "port"     : 80,
       "page"     : "nginx-status",

    },
]
