check_mk_agent:
  server: 'checkmk.dwbn.org'
  site: 'dwbn'
  api-user: 'username'
  api-secret: 'secret'
  plugins:
   - mk_mysql
   - mk_postgress
   - apache-status
   - nginx-status
  mk_mysql:
   user: 'user'
   pass: 'pass'
