check_mk_agent:
  server: 'checkmk.dwbn.org'
  site: 'dwbn'
  folder: 'sorthostsinfolder'
  criticality: 'prod' # possible: prod, critical, test, dev, offline
  api-user: 'username'
  api-secret: 'secret'
  plugins:
   mysql:
     - 'user: foo'
     - 'password: bar'
   apache-status: True
   nginx-status: True
   fileinfo:
     - '/path/to/file'
     - '/path/to/otherfile'
   supervisor: 'checkname /usr/local/bin/check-supervisor.rb $Paramater'
   check-http-ping:
     - 'checkname /usr/local/bin/check-http-json.rb $Paramater'

