check_mk_agent:
  server: 'checkmk.dwbn.org'
  hostip: '217.164.64.xxx' # optional only needed if no webtrust ip
  site: 'dwbn'
  folder: 'sorthostsinfolder'
  criticality: 'prod' # possible: prod, critical, test, dev, offline
  api-user: 'username'
  api-secret: 'secret'
  encryption:
    passphrase: '*secret*'
  trigger_type: 'systemd'
  plugins:
   mysql:
     - 'user: foo'
     - 'password: bar'
   apache: True
   nginx: True
   fileinfo:
     - '/path/to/file'
     - '/path/to/otherfile'
   supervisor: 'checkname /usr/local/bin/check-supervisor.rb $Paramater'
   check-http-ping:
     - 'checkname /usr/local/bin/check-http-json.rb $Paramater'
